<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= '/css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Form</title>
</head>
<body>
    <div class="body">
        <div class="loginreg">
            <h1>Register</h1>
            {% with messages = get_flashed_messages() %}
                {%if messages %}
                    {% for message in messages %}
                        <p class="fmessage">{{message}}</p>
                    {%endfor%}
                {%endif%}
            {%endwith%}
                <form action="/create" method="post">
                <label for="fname" class="entry">First Name:</label>
                <input type="text" class="entrybox" name="fname">
                <label for="lname" class="entry">Last Name:</label>
                <input type="text" class="entrybox" name="lname">
                <label for="email" class="entry">Email:</label>
                <input type="text" class="entrybox" name="email">
                <label for="password" class="entry">Password:</label>
                <input type="text" class="entrybox" name="password">
                <label for="password2" class="entry">Confirm Password:</label>
                <input type="text" class="entrybox" name="password2">
                <input type="submit" class="butt" value="Register">
            </form>
        </div>
        <div class="loginreg">
            <h1 class="log">Login</h1>
            <form action="/login" method="post">
                <label for="email" class="entry">Email:</label>
                <input type="text" class="entrybox" name="email">
                <label for="password" class="entry">Password:</label>
                <input type="text" class="entrybox" name="password">
                <input type="submit" class="butt" id="log" value="Login">
            </form>
        </div>
    </div>
</body>
</html>